@using Chatverse.UI.DTOs.Notification;

@{
    ViewData["Title"] = "GetNotification";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@model ICollection<GetUserNotificationDto>
<div class="main-content right-chat-active">

    <div class="middle-sidebar-bottom">
        <div class="middle-sidebar-left pe-0">
            <div class="row">

                <div class="col-xl-12">
                    <div class="chat-wrapper p-3 w-100 position-relative scroll-bar bg-white theme-dark-bg">
                        <h2 class="fw-700 mb-4 mt-2 font-md text-grey-900 d-flex align-items-center">
                            Notification
                            <span class="circle-count bg-warning text-white font-xsssss rounded-3 ms-2 ls-3 fw-600 p-2  mt-0">23</span>
                            <a href="#" class="ms-auto btn-round-sm bg-greylight rounded-3"><i class="feather-hard-drive font-xss text-grey-500"></i></a>
                            <a href="#" class="ms-2 btn-round-sm bg-greylight rounded-3"><i class="feather-alert-circle font-xss text-grey-500"></i></a>
                            <a href="#" class="ms-2 btn-round-sm bg-greylight rounded-3"><i class="feather-trash-2 font-xss text-grey-500"></i></a>
                        </h2>

                        
                        <ul class="notification-box">

                            @{
                                string checkDate = "";
                                int count = 0;
                            }

                            @foreach(var i in Model)
                            {
                                if (count == 0)
                                {
                                    checkDate = i.DayYear;
                                    <h4 class="fw-600 mb-4 mt-2 font-xssss text-grey-500 d-flex align-items-center mt-4">@i.DayYear</h4>

                                    <li>
                                        <a href="#" class="d-flex align-items-center p-3 rounded-3 bg-lightblue theme-light-bg">
                                            <img src="~/chatverse/uitheme.net/sociala/images/user-7.png" alt="user" class="w45 me-3">
                                            <i class="@i.Icon text-white t me-2 font-xssss notification-react"></i>
                                            <h6 class="font-xssss text-grey-900 text-grey-900 mb-0 mt-0 fw-500 lh-20"><strong>@i.FullName</strong> @i.Content <span class="d-block text-grey-500 font-xssss fw-600 mb-0 mt-0 0l-auto"> @i.Hour</span> </h6>
                                            <i class="ti-more-alt text-grey-500 font-xs ms-auto"></i>
                                        </a>
                                    </li>
                                }
                                if (count > 0)
                                {
                                    if (checkDate == i.DayYear)
                                    {
                                        <li>
                                            <a href="#" class="d-flex align-items-center p-3 rounded-3 bg-lightblue theme-light-bg">
                                                <img src="~/chatverse/uitheme.net/sociala/images/user-7.png" alt="user" class="w45 me-3">
                                                <i class="@i.Icon text-white t me-2 font-xssss notification-react"></i>
                                                <h6 class="font-xssss text-grey-900 text-grey-900 mb-0 mt-0 fw-500 lh-20"><strong>@i.FullName</strong> @i.Content <span class="d-block text-grey-500 font-xssss fw-600 mb-0 mt-0 0l-auto"> @i.Hour</span> </h6>
                                                <i class="ti-more-alt text-grey-500 font-xs ms-auto"></i>
                                            </a>
                                        </li>
                                    }
                                    else
                                    {
                                        <h4 class="fw-600 mb-4 mt-2 font-xssss text-grey-500 d-flex align-items-center mt-4">@i.DayYear</h4>

                                        <li>
                                            <a href="#" class="d-flex align-items-center p-3 rounded-3 bg-lightblue theme-light-bg">
                                                <img src="~/chatverse/uitheme.net/sociala/images/user-7.png" alt="user" class="w45 me-3">
                                                <i class="@i.Icon text-white t me-2 font-xssss notification-react"></i>
                                                <h6 class="font-xssss text-grey-900 text-grey-900 mb-0 mt-0 fw-500 lh-20"><strong>@i.FullName</strong> @i.Content <span class="d-block text-grey-500 font-xssss fw-600 mb-0 mt-0 0l-auto"> @i.Hour</span> </h6>
                                                <i class="ti-more-alt text-grey-500 font-xs ms-auto"></i>
                                            </a>
                                        </li>
                                    }

                                    checkDate = @i.DayYear;
                                }



                                count++;
                            }
                            

                          
                           
                          




                        </ul>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>
